<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">UlizaUjibiwe</a>
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'index'}}<i class="fa fa-home" aria-hidden="true"></i>{{/link-to}}</li>
    </ul>
  </div>
</nav>

<div class="container">
<div class="jumbotron">
  <h1>Uliza Ujibiwe</h1>
  <p>There are no stupid questions</p>
  <hr>
</div>

</div>

{{outlet}}
