{{outlet}}
<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <ul class="nav navbar-nav">
    <li>#link-to 'about'}}About{/link-to}}</li>
    </ul>
  <h2 class="navbar-text text-center">Bustle</h2>
</nav> -->
