<h1>Uliza Ujibiwe</h1>
<p>Find answers to your questions</p>

<ul>
  {{#each model.questions as |question|}}
  {{question-tile question=question}}
  {{/each}}
</ul>

<h2>Answers</h2>
<ul>
{{#each model.answers as |answer|}}
<li>
  {{answer.content}} - by {{answer.author}}
</li>
{{/each}}
</ul>

{{ask-question saveQuestion2="saveQuestion3"}}
